* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --font-family: 'Roboto', sans-serif;
}

.hide{
    display: none;
}

button{
    padding: 0;
    margin: 0;
    border-style: none;
    background: transparent;
}

.toggleMode{
    display: flex;
    right: 0;
    position: fixed;
    padding: 3rem;
}

.container{
    margin: auto;
    height: 100vh;
    width: 120rem;

    display: grid;
    grid-template-areas: "A B";
    gap: 20rem;
    align-content: center;
    align-items: center;
}

.container div:nth-child(1){
    grid-area: A;
}

.container div:nth-child(2){
    grid-area: B;
}

.timer{
    text-align: center;
}

.timer span{
    font-size: 13.0rem;
    font-family: var(--font-family);
    font-weight: 500;
    color: #323238;
}

.display{
    padding: 3rem;
}

.grid-left{
    margin: auto;
    grid-template-areas: "A B C D E";
    gap: 19.2rem;
    align-items: center;
    align-content: center;
}

.grid-left div:nth-child(1){
    grid-area: A;
}

.grid-left div:nth-child(2){
    grid-area: B;
}
.grid-left div:nth-child(3){
    grid-area: C;
}

.grid-left div:nth-child(4){
    grid-area: D;
}
.grid-left div:nth-child(5){
    grid-area: E;
}

.grid-right{
    display: grid;
    grid-template-areas: "A B"
    "C D";
    gap: 2rem;
}

.grid-right div:nth-child(1){
    grid-area: A;
}
.grid-right div:nth-child(2){
    grid-area: B;
}
.grid-right div:nth-child(3){
    grid-area: C;
}
.grid-right div:nth-child(4){
    grid-area: D;
}

.cards{
    background: #E1E1E6;
    border-radius: 20%;
}

.cards:hover{
    background: #02799D;
}